@import "./base";

.shipmentDetails {
  padding: 0 5rem;
  display: flex;
  flex-direction: row-reverse;
  gap: 1.2rem;

  .table-details {
    flex: 1;
    margin-bottom: 18px;

    .table-title {
      font-family: $ff-primary;
      font-size: 17px;
      margin-bottom: 20px;
    }

    table {
      font-family: $ff-primary;
      text-align: center;
      width: 100%;
      margin-top: -4px;
      border: 1px solid #e8e8e8;
      border-radius: 7px;
      border-collapse: separate;
      border-spacing: 0;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

      th {
        background-color: #f8f8f8;
        border-top: none;
      }

      th,
      td {
        padding: 15px;
        border-bottom: 1px solid #e5e5e5;
        border-left: 0;
        border-top: 0;
      }
    }
  }

  .shipmentDetails__address {
    max-width: 75%;

    &_container {
      border: 1px solid #e8e8e8;
      border-radius: 6px;
      background-color: #f9f9f9;
      font-family: $ff-primary;
      font-size: 15px;
      width: 21rem;
      padding: 0.8rem 1.2rem;
      margin-bottom: 20px;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    }

    h2 {
      font-size: 17px;
      font-family: $ff-primary;
      margin-bottom: 16px;
    }

    &_report {
      display: flex;

      border: 1px solid #e8e8e8;
      border-radius: 5px;
      width: 21rem;
      height: 130px;
      padding: 20px;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);

      .help {
        &_title {
          color: #000;
          font-family: $ff-primary;
          font-size: 15px;
          font-weight: 800;
          text-align: center;
        }

        &_center {
          .btn-container {
            text-align: center;

            .help_btn {
              font-size: 14px;
              font-family: $ff-primary;
              background-color: $bg-btn;
              color: $bg-color;

              border: 0;
              border-radius: 10px;
              padding: 5px 25px;
              margin-top: 12px;
              cursor: pointer;

              &:hover {
                border: 1px solid $bg-btn;
                color: $bg-btn;
                background-color: $bg-color;
                transition: all 0.2s ease-in-out;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
              }
            }
          }
          img {
            position: absolute;
            right: 5rem;
            width: 70px;
            margin: 15px;
          }
        }
      }
    }
  }
}
